---
import ResumeSection from "@/components/ResumeSection.astro";

import { experience } from "@/config/site.json";
---

<ResumeSection title="Experience" class="grid gap-3">
  <ul class="grid gap-5">
    {
      experience
        .toReversed()
        .map(({ company, from, position, subitems, summary, to, url }) => {
          const startYear = new Date(from).getFullYear();
          const endYear = to ? new Date(to).getFullYear() : "Present";

          return (
            <li>
              <article class="grid gap-2">
                <header class="flex gap-4 justify-between">
                  <div>
                    <h3 class="text-lg font-semibold">
                      <a
                        href={url}
                        target="_blank"
                        title="Ver más"
                        class="hover:underline"
                      >
                        {company}
                      </a>
                    </h3>
                    {!subitems && <h4 class="text-sm italic">{position}</h4>}
                  </div>
                  <div class="font-space-mono font-semibold">
                    <time datetime={from}>{startYear}</time>
                    {" - "}
                    <time datetime={to}>{endYear}</time>
                  </div>
                </header>
                <p class="font-space-mono">{summary}</p>
                {subitems && (
                  <ul class="mt-2 pl-7 grid gap-4">
                    {subitems
                      .toReversed()
                      .map(({ from, position, summary, to }) => (
                        <li>
                          <div class="grid gap-2">
                            <div class="flex gap-4 justify-between">
                              <h5
                                class={`
                                  italic font-semibold text-sm
                                  before:block before:absolute before:size-4
                                  before:rotate-90 before:-translate-x-7 before:translate-y-2
                                  before:border-l-2 before:border-neutral-500 before:border-dotted
                                `}
                              >
                                {position}
                              </h5>
                              <div class="font-space-mono text-sm">
                                <time datetime={from}>
                                  {new Date(from).getFullYear()}
                                </time>
                                {" - "}
                                <time datetime={to}>
                                  {to ? new Date(to).getFullYear() : "Present"}
                                </time>
                              </div>
                            </div>
                            <p class="font-space-mono">{summary}</p>
                          </div>
                        </li>
                      ))}
                  </ul>
                )}
              </article>
            </li>
          );
        })
    }
  </ul>
</ResumeSection>
