---
import OptimizedImage from "@/components/OptimizedImage.astro";
import ResumeSection from "@/components/ResumeSection.astro";

import { basics, contactChannels } from "@/config/site.json";

import WorldIcon from "@/icons/World.astro";

import {
  getContactChannelIcon,
  getPrintFriendlyContactChannels,
} from "@/lib/contact-channels";
import { getExperienceYearsAmount } from "@/lib/dates";

const yearsOfExperience = await getExperienceYearsAmount();
const label = basics.label.replace("[years]", yearsOfExperience.toString());
---

<ResumeSection
  class="flex flex-col gap-4 sm:flex-row-reverse sm:justify-between"
>
  <figure
    class={`
      flex items-center justify-center rounded-3xl w-28
      overflow-hidden shadow-lg shadow-gray-600/50 dark:shadow-gray-500/90
      sm:w-60 sm:transition-transform sm:duration-[400ms] sm:hover:rotate-3 sm:hover:scale-105
    `}
  >
    <OptimizedImage
      alt="Me smiling (:"
      src={basics.profilePhoto}
      class="aspect-square size-full object-cover object-center"
    />
  </figure>
  <div class="flex flex-col justify-start gap-2">
    <h1 class="text-3xl font-bold">{basics.name}</h1>
    <h2 class="font-semibold text-sm sm:text-base sm:text-balance">{label}</h2>
    <span class="flex gap-2 font-space-mono text-sm sm:items-center">
      <WorldIcon class="size-4 mt-0.5 sm:mt-0" />
      {basics.location.city}, {basics.location.country}
    </span>
    <footer class="text-sm not-print:hidden">
      {getPrintFriendlyContactChannels()}
    </footer>
    <footer
      class="flex items-center justify-end gap-2 sm:justify-start print:hidden"
    >
      {
        contactChannels.map(async (channel) => {
          const Icon = await getContactChannelIcon(channel.title);
          const LINK_ARIA_LABEL = `visit-${channel.network}-profile`;

          return (
            <a
              target="_blank"
              href={channel.url}
              title={channel.title}
              rel="noopener noreferrer"
              aria-labelledby={LINK_ARIA_LABEL}
              class={`
                rounded-md p-2
                transition-colors duration-300
                flex items-center justify-center
                text-neutral-600 dark:text-neutral-400
                hover:text-neutral-700 dark:hover:text-neutral-300
                border-2 border-neutral-200 dark:border-neutral-700
                hover:border-neutral-300 dark:hover:border-neutral-600
                hover:bg-neutral-200/50 dark:hover:bg-neutral-800/90
              `}
            >
              <Icon id={LINK_ARIA_LABEL} class="aspect-square size-5" />
            </a>
          );
        })
      }
    </footer>
  </div>
</ResumeSection>
