---
import ResumeSection from "@/components/ResumeSection.astro";

import { basics, contactChannels } from "@/config/site.json";

import WorldIcon from "@/icons/World.astro";

import {
  getContactChannelIcon,
  getPrintFriendlyContactChannels,
} from "@/lib/contact-channels";
import { getExperienceYearsAmount } from "@/lib/dates";

const yearsOfExperience = getExperienceYearsAmount();
const label = basics.label.replace("[years]", yearsOfExperience.toString());
---

<ResumeSection
  class="flex flex-col gap-4 sm:flex-row-reverse sm:justify-between"
>
  <figure class="flex items-center justify-center w-28 sm:w-60">
    <img
      alt="Me smiling"
      src={basics.profilePhoto}
      class="aspect-square rounded-3xl"
    />
  </figure>
  <div class="flex flex-col justify-start gap-2">
    <h1 class="text-3xl font-bold">{basics.name}</h1>
    <h2 class="font-semibold text-sm sm:text-base sm:text-balance">{label}</h2>
    <span class="flex gap-2 font-space-mono text-sm sm:items-center">
      <WorldIcon class="size-4 mt-0.5 sm:mt-0" />
      {basics.location.city}, {basics.location.country}
    </span>
    <footer class="text-sm not-print:hidden">
      {getPrintFriendlyContactChannels()}
    </footer>
    <footer
      class="flex items-center justify-end gap-2 sm:justify-start print:hidden"
    >
      {
        contactChannels.map((channel) => {
          const Icon = getContactChannelIcon(channel.network);

          return (
            <a
              target="_blank"
              href={channel.url}
              title={channel.title}
              rel="noopener noreferrer"
              class={`
                rounded-md p-2
                transition-colors duration-300
                flex items-center justify-center
                text-neutral-600 dark:text-neutral-400
                hover:text-neutral-700 dark:hover:text-neutral-300
                border-2 border-neutral-200 dark:border-neutral-700
                hover:border-neutral-300 dark:hover:border-neutral-600
                hover:bg-neutral-200/50 dark:hover:bg-neutral-800/90
              `}
            >
              <Icon class="aspect-square size-5" />
            </a>
          );
        })
      }
    </footer>
  </div>
</ResumeSection>
