---
import { siteName } from "@/config/site.json";

import ThemeManager from "./ThemeManager.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <!-- Global Metadata -->
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="theme-color" content="" />
  <link rel="icon" href="/favicon.svg" />
  <link rel="canonical" href={canonicalURL} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="description" content={description} />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content={siteName} />
  <meta property="og:image" content="/favicon.svg" />
  <meta property="og:description" content={description} />

  <ThemeManager defaultTheme="dark" />
</head>
