---
import type { CollectionEntry } from "astro:content";

import Cover from "./Cover.astro";
import Data from "./Data.astro";
import SeeMoreButton from "./SeeMoreButton.astro";

type Props = Pick<CollectionEntry<"work-experience">, "id" | "data">;

const {
  id,
  data: { cover, company, from, position, title, to },
} = Astro.props;
---

<div class="absolute inset-0 -z-[1] overflow-hidden">
  <Cover cover={cover} company={company} />
</div>
<div
  class="absolute inset-0 flex flex-col items-center justify-between px-4 py-8"
>
  <Data from={from} position={position} title={title} to={to} />
  <SeeMoreButton url={`/work-experience/${id}`} />
</div>
